/* Tela de início */
@import "./styles/index.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Jokerman";
  src: url(./assets/fonts/Jokerman.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}